---
const {className, id, buttonText} = Astro.props
---

<button class={className} id={id}>
    {buttonText}
</button>

<style>
    button
    {
        display: block;
        font-family: inherit;
        height: 50px;
        width: fit-content;
        color: var(--primary-text-color);
        font-size: 15px;
        background-color: var(--button-background-color);
        border-radius: calc(var(--base-border-radius) / 2);
        padding: 10px 15px;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        transition: opacity .15s ease-in;
    }

    button:hover
    {
        opacity: .95;
        transition: opacity .15s ease-in;
    }

    button:active
    {
        transform: scale(.98);
        box-shadow: none;
        transition: none;
    }
</style>