---
import OverviewContainer from "./OverviewContainer.astro"
import BudgetInput from "./BudgetInput.astro"
---

<div class="container expense-tracker-container">
    <BudgetInput/>
</div>


<style>
    .container.expense-tracker-container
    {
        width: 600px;
        height: 80vh;
    }
</style>