---
const {className, id, forLabel, labelText} = Astro.props;
---

<label class={className} id={id} for={forLabel}>
    {labelText}
</label>


<style>
    label
    {
        outline: 2px solid #333;
    }
</style>
