<div class="container overview-container"></div>


<style>
    .container.overview-container
    {
        height: 100px;
        width: 500px;
        border-radius: calc(var(--base-border-radius) / 2);
        background-color: var(--overview-container-background-color);
        box-shadow: var(--box-shadow);
    }
</style>